
body{
    font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 400;
  -webkit-font-smoothing: antialiased;
}


.center { 
    position: absolute; 
    top: 0; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    margin: auto; 
} 

.user-header{
    background-color: #3c8dbc;
}

.navbar-custom-menu{
    width: 100%;
}

.profile-section{
    float: right;
}

.login-error{
    padding:0;
}
.action-btns{}

.action-btns a{
    margin: 5px;
}
